.share {
  width: 16rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--Very-Dark-Grayish-Blue);
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  position: relative;
  top: -5rem;
  left: 9rem;
  opacity: 0.7;
}

.share:after,
.share:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0px;
  width: 0px;
  position: absolute;
  pointer-events: none;
}

.share:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: var(--Very-Dark-Grayish-Blue);
  border-width: 1rem;
  margin-top: 1.8rem;
  margin-left: -8.5rem;
}

.share ul {
  list-style: none;
}

.share h2 {
  color: var(--Grayish-Blue);
  letter-spacing: 0.2rem;
}

.list_a:hover {
  transform: translateY(-2px);
}

.list {
  width: 7rem;
  display: flex;
  justify-content: space-between;
}

.arrow {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  background-color: var(--Grayish-Blue);
  cursor: pointer;
}

.active {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  background-color: var(--Very-Dark-Grayish-Blue);
  cursor: pointer;
}

.icon {
  color: #fff;
  width: 1.7rem;
  height: 1.7rem;
  padding-top: 3px;
}

@media only screen and (max-width: 820px) {
  .share {
    position: relative;
    top: -3rem;
    left: 2.5rem;
    padding: 0.7rem 0.5rem;
  }
  .share:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: var(--Very-Dark-Grayish-Blue);
    border-width: 0.7rem;
    margin-top: 1.3rem;
    margin-left: -2.6rem;
  }
  .share h2 {
    display: none;
  }
}
